* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

/*头部样式开始*/
header {
    height: 25px;
    background-color: #dddddd;
}

.container {
    width: 1260px;
    margin: 0 auto;
}

header > .container > p {
    display: inline-block;
    font-size: 12px;
    color: #666666;
    height: 25px;
    line-height: 25px;
    float: left;
}

header > .container > p > span {
    color: #d40000;
    cursor: pointer;
}

header > .container > div {
    float: right;
}

header > .container > div > ul li {
    float: left;
    font-size: 12px;
    color: #666666;
    height: 13px;
    line-height: 13px;
    padding: 0 5px;
    border-right: 1px solid #999999;
    cursor: pointer;
}

header > .container > div > ul {
    padding: 5px;
}

header > .container > div > ul > li:nth-of-type(4) > span,
header > .container > div > ul > li:nth-of-type(1) > span {
    display: inline-block;
    width: 20px;
    height: 15px;
    float: left;
    margin-right: 2px;
    position: relative;
    overflow: hidden;
}

header > .container > div > ul > li:nth-of-type(1) > span > img,
header > .container > div > ul > li:nth-of-type(4) > span > img {
    position: absolute;
}

header > .container > div > ul > li:nth-of-type(1) > span > img {
    left: -37px;
    top: -87px;
}

header > .container > div > ul > li:nth-of-type(4) > span > img {
    left: -31px;
    top: -70px;
}

.clear {
    clear: both;
}

header img {
    float: left;
}

/*头部样式结束*/
/*导航样式开始*/
nav {
    height: 30px;
    width: 100%;
    background-color: #d40000;
    float: left;
}

nav > .container > ul li {
    float: left;
    font-size: 12px;
    color: white;
    line-height: 30px;
    cursor: pointer;
    padding: 0 15px;
}

nav > .container > ul li:nth-of-type(1) > span {
    margin-left: 15px;
}

nav > .container > ul li:hover {
    color: #d40000;
    background-color: white;
}

/*导航样式结束*/
/*网页主要内容样式开始*/

section {
    float: left;
    width: 100%;
}

section > .container {
    margin-top: 20px;
}

/*左导航栏开始*/

section > .container > ul {
    width: 200px;
    border: 1px solid #4b796f;
    float: left;
}

section > .container > ul > li {
    font-size: 12px;
    color: #4b796f;
    line-height: 30px;
    border-top: 1px dashed #CCCCCC;
    border-bottom: 1px dashed #CCCCCC;
    margin: 0 5px;
}

section > .container > ul > li:nth-of-type(1) {
    text-align: center;
    color: white;
    font-size: 16px;
    background-color: #4b796f;
    margin: 0;
}

section > .container > ul > li:nth-of-type(-n+5) div {
    height: 15px;
}

section > .container > ul > li:nth-of-type(6) div {
    height: 25px;
}

section > .container > ul > li:nth-of-type(n) li {
    font-size: 10px;
    color: #999999;
    line-height: 10px;
    border-right: 1px solid #999999;
    float: left;
    padding: 0 5px;
    margin-bottom: 3px;
}

/*左导航栏结束*/
/*中间内容开始*/
.container > .center {
    width: 750px;
    float: left;
    margin-left: 10px;
    position: relative;
}
.container > .center ol {
    position: absolute;
    left: 300px;
    top: 290px;
}

.container > .center ol li {
    float: left;
    font-size: 12px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.container > .center ol li:hover {
    background-color: #d40000;
    color: #fff;
}

.container > .center ul {
    width: 750px;
    margin: 0 15px;
}

.container > .center ul li {
    width: 150px;
    height: 220px;
    float: left;
    margin: 20px 15px;
    position:relative;
}

.container > .center ul li p:nth-of-type(1) {
    font-size: 10px;
}

.container > .center ul li p:nth-of-type(2),
section>.container>.right div:first-of-type>ul li,
section>.container>.right div:nth-of-type(2)>a,
section>.container>.right div:nth-of-type(2)>h3,
section>.container>.right div:nth-of-type(3)>h3,
section>.container>.right div:nth-of-type(3)>ol
{
    font-size: 10px;
    color: #666666;
    margin-top: 10px;
}

.container > .center ul li p:nth-of-type(3) {
    font-size: 10px;
    color: red;
    margin: 5px 0;
}

.container > .center ul li p:nth-of-type(3) > span {
    font-size: 10px;
    color: #999999;
    text-decoration: line-through;
}

.container > .center ul li:nth-of-type(1)::after {
    content: url(task1/img/xsq.png);
    display: block;
    position: absolute;
    right:0;
    top:0;
}
/*中间内容结束*/

/*右侧内容开始*/
.right{
    float:left;
}

section>.container>.right div:first-of-type{
    width: 200px;
    height: 100px;
    border:1px solid #999999;
    margin-left:10px;
}
section>.container>.right div:first-of-type ul{
    list-style: inside;
    margin-left:10px;
}
section>.container>.right div:first-of-type>h2,
section>.container>.right div:nth-of-type(2)>h2
{
    font-size: 18px;
    /*float:left;*/
}
section>.container>.right>div:nth-of-type(2){
    width: 200px;
    height: 150px;
    border:1px solid #999999;
    margin:10px;
    position: relative;
}
section>.container>.right>div:nth-of-type(2) div:first-of-type,
section>.container>.right>div:nth-of-type(2) div:last-of-type
{
    width: 25px;
    height: 50px;
    background: url("task1/img/book_fanye_btn.png") no-repeat ;
    position: absolute;
    top:50px;
    border:none;
    cursor:pointer;
}
section>.container>.right>div:nth-of-type(2)>div:first-of-type
{
    left:-10px;
}
section>.container>.right>div:nth-of-type(2)>div:last-of-type
{
    right:0;
    background-position-x: -25px;
}
section>.container>.right>div:nth-of-type(2)>div:last-of-type:hover,
section>.container>.right>div:nth-of-type(2)>div:first-of-type:hover{
    background-position-y: -51px;
}
section>.container>.right>div:nth-of-type(n) img{
    float:left;
}
section>.container>.right div:nth-of-type(3){
    width: 200px;
    height: 350px;
    border:1px solid #999999;
    margin:10px;
}
section>.container>.right>h2{
    font-size: 18px;
    overflow: hidden;
    position: relative;
}
section>.container>.right>h2::before{
    content:url("task1/img/sprite.png") ;
    display: block;
    position: absolute;
    top:0;
}
section>.container>.right div:nth-of-type(3)>ol{
    list-style: armenian;
    margin-left:20px;
}
section>.container>.right div:nth-of-type(3)>div{
    clear:both;
    border:none;
    height: 0;
}
/*右侧内容结束*/
/*网页主要内容样式结束*/

/*页脚样式开始*/
footer{
    float:left;
    width: 100%;
}
footer>.bottom>hr{
    border:none;
    height: 2px;
    width: 100%;
    background-color: #dddddd;
    margin:30px 0;
}
footer>.bottom ul li{
    float:left;
    border-right:1px solid #dddddd;
    height: 10px;
    line-height: 10px;
    font-size: 12px;
    margin:10px;
    padding-right:20px;
}
footer>.bottom ul{
    width: 900px;
    margin:0 auto;
}
footer>.bottom p{
    text-align: center;
    font-size: 12px;
}
footer>.bottom p span::after{
    content:url('task1/img/validate.gif');
}
/*页脚样式结束*/